/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: transparent;
    padding: 20px;
  }
  
  #menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    outline: none;
  }
  
  #side-nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #f7e8e8;
    padding: 20px;
    transition: left 0.3s ease-in-out;
  }
  
  #side-nav.show {
    left: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #80e473;
    margin-right: 20px;
    font-size: 16px;
    text-shadow: #55eb61;
  }
  
  /* Main styles */
  main {
    padding: 40px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  /* Footer styles */
  footer {
    background-color: #f7e8e8;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  